/* Custom properties */

:root {
   --main-bg-color: #000000;
   --blocks-color: #161616;
   --article-bg-color: #ffffff;

   --main-text-color: #ffffff;
   --block-text-color: #737071;
   --article-text-color: #000000;

   --blue: #483fff;

   --main-font: Bedas, Verdana, Arial, sans-serif;
}

@font-face {
   font-family: 'Bedas';
   src: url(../fonts/BebasNeue-Regular.ttf);
}

/* CSS Reset */
*, *::after, *::before {
   box-sizing:border-box;
   margin: 0;
   padding: 0;
}

ul{
   list-style: none;
}

/* Styling */

body{
   margin: 0;
   background: var(--main-bg-color);
}

.hidden{
   display: none;
}
h1{
   font-family: var(--main-font);
   text-transform: uppercase;
   font-size: 8em;
   color: var(--main-text-color);
}
h2{
   font-family: var(--main-font);
   text-transform: uppercase;
   font-size: 8em;
   color: var(--main-text-color);
}
section:nth-of-type(1) h2{
   font-size: 14em;
}

h3{
   font-family: var(--main-font);
   text-transform: uppercase;
   color: var(--main-text-color);
}

a{
   text-decoration: none;
   color: var(--main-text-color);
}

p{
   color: var(--article-text-color);
   font-size: 1.5em;
   font-family: Verdana;
   text-align: center;
   margin-bottom: 2em;
}

header{
   background-color: transparent;
   display: grid;
   width: 100%;
}
header a{
   display: flex;
}

header img{
   width: 30em;
}




main > section:nth-of-type(1){
   background-color: var(--main-bg-color);

   display: flex;
   flex-direction: column;

   align-items: center;
   justify-content: center;
}
main > section:nth-of-type(1) h1{
   width: 100%;
   padding-left: .3em;
}
main > section:nth-of-type(1) section{
   width: 100%;
   display: flex;
   flex-direction: row;
   padding: 2em;
}
main > section:nth-of-type(1) figure{
   display: flex;
   flex-direction: column-reverse;
}
main > section:nth-of-type(1) figure img{
   width: 10em;
   border-radius: 10em;
   margin-bottom: 3em;
}
main > section:nth-of-type(1) figure figcaption{
   font-size: 3em;
   font-family: var(--main-font);
   text-transform: uppercase;
   color: var(--block-text-color);
   text-decoration: none;
}
main > section:nth-of-type(1) img:not(main > section:nth-of-type(1) figure img){
   height: 100vh;
   width: 100%;
   object-fit: cover;
}








main > section:nth-of-type(2){
   background-color: var(--article-bg-color);

   display: flex;
   flex-direction: column;

   align-items: center;

   padding: 3em;
}
main > section:nth-of-type(2) img{
   width: 55em;
   margin-bottom: 8em;
}
main > section:nth-of-type(2) p{
   text-align: center;
}










footer{
   background-color: var(--main-bg-color);
   margin-bottom: 3em;
   margin-top: 16em;
}
footer > h2{
   margin-left: .5em;

   text-decoration: underline;
   text-decoration-color: var(--blue);
}
footer > section:nth-of-type(1){
   margin: 4em 0 4em 0;
}
footer > section:nth-of-type(1) img{
   width: 5em;
   margin: 0 2em 0 2em;
   filter: invert(100);
}
footer > section:nth-of-type(2){
   display: flex;
   flex-direction: row-reverse;

}
footer > section:nth-of-type(2) h2{
   margin-right: .5em;
}




nav{
   position: absolute;
   right: 0;
}
nav a{
   font-family: var(--main-font);
   color: var(--main-text-color);
   font-size: 14px;
}
nav img {
   cursor: pointer;
   width: 5em;
   height: 4em;
   position: absolute;
   top: 4em;
   right: 20em;
   z-index: 50;
}
nav section{
   background-color: var(--main-bg-color);
   height: 100%;
   width: 80%;
   padding: 0em 1em 0 1em;

   position: fixed;
   display: flex;
   align-items: flex-start;
   right: 0; top: 0; bottom: 0;
   transform: translateX(100%);
   transition: 0.5s;
   z-index: 100;
}
nav.showNav section{
   transform: translateX(0%);
}

nav section img:nth-of-type(1){
   width: 2em;
   height: 2em;

   position: absolute;
   left: 4em;
   top: 4em;
}

nav li a{
   font-family: var(--main-font);
   font-size: 6em;
   text-transform: uppercase;
   color: var(--main-text-color);

   margin-bottom: 0.5em;
   position: relative;
   top: 3em;
   left: 1em;
}



