/* Custom properties */

:root {
   --main-bg-color: #000000;
   --blocks-color: #161616;

   --main-text-color: #ffffff;
   --block-text-color: #737071;

   --blue: #483fff;

   --main-font: Bedas, Verdana, Arial, sans-serif;
}

@font-face {
   font-family: 'Bedas';
   src: url(../fonts/BebasNeue-Regular.ttf);
}

/* CSS Reset */
*, *::after, *::before {
   box-sizing:border-box;
   margin: 0;
   padding: 0;
}

ul{
   list-style: none;
}

/* Styling */

body{
   margin: 0;
   background: var(--main-bg-color);
}

.hidden{
   display: none;
}

h2{
   font-family: var(--main-font);
   text-transform: uppercase;
   font-size: 8em;
   color: var(--main-text-color);
}
section:nth-of-type(1) h2{
   font-size: 14em;
}

h3{
   font-family: var(--main-font);
   text-transform: uppercase;
   color: var(--main-text-color);
}

a{
   text-decoration: none;
   color: var(--main-text-color);
}

p{
   color: var(--block-text-color);
   font-size: 3em;
   font-family: var(--main-font);
}

header{
   background-color: transparent;
   position: absolute;
   display: grid;
   width: 100%;
}
header a{
   display: flex;
}

header img{
   width: 30em;
}

main > section:nth-of-type(1){
   background-color: var(--main-bg-color);

   height: 100vh;
   display: flex;

   align-items: center;
   justify-content: center;
}
main > section:nth-of-type(1) h2{
   position: absolute;
   z-index: 10;
}
main > section:nth-of-type(1) img{
   width: 36em;

   z-index: 20;
}
main > section:nth-of-type(1) section{
   display: flex;
   position: absolute;
   height: 3em;
   bottom: 6em;
}
main > section:nth-of-type(1) section img{
   width: 3em;
   margin: 0 2em 0 2em;
   filter: invert(100);
}








main > section:nth-of-type(2){
   background-color: var(--main-bg-color);
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 85vh;
   margin-top: 3em;
}
main > section:nth-of-type(2) h2{
   position: absolute;
   top: 0;
   left: 0.3em;
}
main > section:nth-of-type(2) iframe{
   transform: scale(2.6);
   position: absolute;
   bottom: 25em;
}









main > section:nth-of-type(3){
   background-color: var(--main-bg-color);
   padding-bottom: 6em;
   margin-top: 3em;
}
main > section:nth-of-type(3) h2{
   margin-left: 0.3em;
}

main > section:nth-of-type(3) section{
   background-color: transparent;

   height: 100vh;

   align-items: start;
   justify-content: start;

   display: grid;
   grid-template-columns: 1fr;
   gap: 1em;
}
main > section:nth-of-type(3) article:nth-of-type(1){
   width: 90%;
   height: 70em;
   margin: auto;
}
main > section:nth-of-type(3) article:nth-of-type(2){
   width: 90%;
   height: 40em;
   margin: auto;
}
main > section:nth-of-type(3) article figure{
   position: relative;
   height: 100%;
}
main > section:nth-of-type(3) article figcaption{
   font-family: var(--main-font);
   text-transform: uppercase;
   font-size: 10em;
   color: var(--main-text-color);
   position: absolute;
   width: 75%;
   line-height: 1em;
   bottom: 0;
   left: 0.2em;
}
main > section:nth-of-type(3) article img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}







main > section:nth-of-type(4){
   background-color: var(--main-bg-color);
   margin-bottom: 3em;
   margin-top: 3em;
}
main > section:nth-of-type(4) h2{
   margin-left: 0.3em;
}


main > section:nth-of-type(4) ul:nth-of-type(1) {
   display: flex;
   overflow: hidden;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   overscroll-behavior: none;

   padding: 0 2em 0 2em;
}


main > section:nth-of-type(4) ul:nth-of-type(1) li{
   background-color: var(--blocks-color);
   width: 54em;
   height: 100em;
   margin: 2em;
   flex-shrink: 0;
}
main > section:nth-of-type(4) ul:nth-of-type(1) img{
   width: 100%;
   scroll-snap-align: center;
}


main > section:nth-of-type(4) ul:nth-of-type(1) section{
   padding: 4em;
}
main > section:nth-of-type(4) ul:nth-of-type(1) h3{
   font-size: 6em;
}
main > section:nth-of-type(4) ul:nth-of-type(1) p{
   margin: 1.5em 0 1.5em 0;
}
main > section:nth-of-type(4) ul:nth-of-type(1) a{
   font-size: 4em;
   font-family: var(--main-font);
   text-transform: uppercase;
   color: var(--main-text-color);
   text-decoration: none;
}



main > section:nth-of-type(4) ul:nth-of-type(2){
   display: flex;
   justify-content: center;
   gap: 2.5em;
}
main > section:nth-of-type(4) ul:nth-of-type(2) li{
   width: 1em;
}
main > section:nth-of-type(4) ul:nth-of-type(2) li a{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 1em;
}
main > section:nth-of-type(4) ul:nth-of-type(2) img{
   width: 2em;
}





footer{
   background-color: var(--main-bg-color);
   margin-bottom: 3em;
   margin-top: 16em;
}
footer > h2{
   margin-left: .5em;

   text-decoration: underline;
   text-decoration-color: var(--blue);
}
footer > section:nth-of-type(1){
   margin: 4em 0 4em 0;
}
footer > section:nth-of-type(1) img{
   width: 5em;
   margin: 0 2em 0 2em;
   filter: invert(100);
}
footer > section:nth-of-type(2){
   display: flex;
   flex-direction: row-reverse;

}
footer > section:nth-of-type(2) h2{
   margin-right: .5em;
}




nav{
   position: absolute;
   right: 0;
}
nav a{
   font-family: var(--main-font);
   color: var(--main-text-color);
   font-size: 14px;
}
nav img {
   cursor: pointer;
   width: 5em;
   height: 4em;
   position: absolute;
   top: 4em;
   right: 20em;
   z-index: 50;
}
nav section{
   background-color: var(--main-bg-color);
   height: 100%;
   width: 80%;
   padding: 0em 1em 0 1em;

   position: fixed;
   display: flex;
   align-items: flex-start;
   right: 0; top: 0; bottom: 0;
   transform: translateX(100%);
   transition: 0.5s;
   z-index: 100;
}
nav.showNav section{
   transform: translateX(0%);
}

nav section img:nth-of-type(1){
   width: 2em;
   height: 2em;

   position: absolute;
   left: 4em;
   top: 4em;
}

nav li a{
   font-family: var(--main-font);
   font-size: 6em;
   text-transform: uppercase;
   color: var(--main-text-color);

   margin-bottom: 0.5em;
   position: relative;
   top: 3em;
   left: 1em;
}



